//colors
$blue-1: #0d183d;
$dark-1: #0c0c0c;
$dark-2: #000000;
$gray-1: #e7e7e7;
$gray-2: #b7b7b7;
$gray-3: #b7b7b7;
$green-1: #479E2B;
$red-1: #ff0000;
$white-1: #ffffff;

//breakpoints
$breakpoint-sm: 760px;
$breakpoint-md: 1200px;
$breakpoint-lg: 1440px;
$breakpoint-xxl: 1600px;
